<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Hola</h1>
    <div>
        <nav>
            <h2>Selecciona una opción</h2>
            <a href="/calculadora">Calculadora</a>
            <a href="/carrito">Carrito de compras</a>
            <a href="/compara">Compara dos números</a>
        </nav>
    </div>
</body>
</html>